
.layer .arc-top,
.layer .arc-bot {
	position: absolute;
	border: 2px solid #000;
	border-radius: 50%;
	margin: -5px;
	width: 14px;
	height: 14px;
	z-index: 3;
}

.layer .arc-bot {
	border-color: #fff;
}

.layer {
	position: absolute;
	width: auto;
	height: auto;
}

.layer .glyphicon {
	position: relative !important;
}

.layer span {
	position: absolute;
	z-index: 2;
}

.layer .bg {
	position: relative;
    width: 100px;
    height: 55px;
    border: 3px solid #000;
    border-radius: 6px;
	background-color: #d7dadd;
	z-index: 1;
}

.arc-top.selected,
.arc-bot.selected,
.selected .bg {
	border-color: #a23;
}
