#canvas hr {
	border: 1px solid #000;
}

.layer .arc-top,
.layer .arc-bot {
	position: absolute;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 50%;
	margin: -5px;
	width: 14px;
	height: 14px;
	z-index: 3;
}

.layer .arc-bot {
	background-color: #000;
	border-color: #fff;
}

.layer {
	position: absolute;
	width: auto;
	height: auto;
}

.layer .glyphicon {
	position: relative !important;
}

.layer span {
	position: absolute;
	z-index: 2;
}

.layer .bg {
	position: relative;
    width: 100px;
    height: 55px;
    border: 3px solid #9e9e9e;
    border-radius: 6px;
	background-color: #d7dadd;
	z-index: 1;
}

.arc-top.selected,
.arc-bot.selected,
.layer.selected .bg {
	border-color: #a23;
}

*:not(#menu) > .layer.vertical {
	transform: rotate(90deg) scaleY(-1);
	transform-origin: 0px 0px;
}

*:not(#menu) > .layer.vertical > .wrapper > span {
	transform: scaleX(-1);
}

*:not(#menu) > .layer.vertical > .wrapper > input {
	transform: scaleX(-1);
}

/*
*:not(#menu) > .layer.vertical > .wrapper > button {
	top: -12px;
	transform: rotate(-45deg);
}
*/

*:not(#menu) > .layer.vertical > .wrapper > button > span {
	margin-left: 2px;
}

*:not(#menu) > .layer.vertical .layer-menu {
	top: 73px;
	left: 60px;
	transform: rotate(45deg) scaleY(-1);
}
