hml, body, div, canvas {
    margin: 0;
    padding: 0;
}

body {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

span
{
	position: relative;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: rgb(0, 0, 0);
	left: 0px; 
	top: 15px; 
	visibility: visible;
	white-space: nowrap;
	cursor: default;
}

hr
{
	position: absolute;
	margin: 0px;
}

.col-content-centered {
	text-align: center;
}

.row-100p,
.col-100p {
	height: 100%;
}

.btn-circle {
	width: 25px;
	height: 25px;
	line-height: 30px; /* adjust line height to align vertically*/
	padding:0;
	border: 1px solid #000;
	border-radius: 50%;
}

.btn-circle:active,
.btn-circle:focus
{
	outline: none !important;
	box-shadow:
	    0px 0px 0px 1px #fff,
	    0px 0px 0px 2px #606054,
	    0px -1px 9px 1px rgba(119, 119, 119, 0.4);
}

.btn-circle > .glyphicon {
	margin-left: -1px;
}

#wrapper {
	margin: 5px;
	padding: 0px;
	height: calc(100% - 12px);
	width: calc(100% - 12px);
	position: absolute;
	overflow: hidden;
	border:1px solid #000000;
}

#scroll_wrapper {
	position: relative;
	float: left;
	overflow: auto;
	width: calc(100% - 168px);
	height: 100%;
}

#menu {
	float: left;
	width: 150px;
	height: 100%;
	overflow: hidden;
	padding-right: 15px;
	border-right: 3px solid #000;
}

.menu-import,
.menu-box {
	position: absolute;
	width: 153px;
	height: 23px;
	background-color: #ea940e;
	border: 2px solid #000;
	z-index: 1;
	padding-left: 10px;
}

.menu-import {
	background-color: #63ab2a;
}

.menu-import p,
.menu-box p {
	cursor: default;
	font-size: 13px;
    font-family: Verdana, sans-serif;
    color: #000;
}

#canvas {
	margin: 0px;
	padding: 0px;
	overflow: visible;
	position: relative;
	width: 100%;
	height: 100%;
}

#test
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}

#import_prototxt
{
	position: absolute;
	background-color: #fefefe;
    left: 10px;
    top: 10px;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
	border: 2px solid #000;
    border-radius: 20px;
    padding-top: 10px;
    z-index: 1;
    display: none;
}

#import_error
{
	padding: 10px;
	display: none;
}

#import_area
{
	height: calc(100% - 30px);
	width: calc(100% - 220px);
	border-radius: 20px;
	padding: 20px;
}

#import_area:active,
#import_area:focus
{
	outline: none !important;
	box-shadow: 0 0 20px #428793;
}

#layer-sample {
	visibility: hidden;
}

.layer-menu {
	position: absolute;
	top: 15px;
	left: 50px;
	height: 35px;
	line-height: 29px;
	width: 150px;
	padding-left: 20px;
	background-color: #dedede;
	border: 2px solid #9e9e9e;
	border-radius: 20px;
	overflow: hidden;
	display: none;
	z-index: 5;
	transform: rotate(90deg) scaleY(-1);
}

.layer-menu button:not(.btn-default) {
	transform: rotate(-90deg);
}

.hide-menu {
	position: absolute;
	top: 3px;
	right: -10px;
}

.show-menu {
	position: absolute;
	left: 88px;
	top: 41px;
	display: none;
	transform: rotate(45deg);
}

#precharge {
	visibility: hidden;
}

#precharge .glyphicon {
	visibility: hidden;
}

.btn-default.btn-circle span {
	margin-left: 2px;
	top: -1px;
}

/* ----------- */
/* Verticality */

*:not(#menu) > .layer.vertical {
	transform: rotate(90deg) scaleY(-1);
	transform-origin: 0px 0px;
}

*:not(#menu) > .layer.vertical > .no-rotate {
	position: absolute;
	transform: rotate(90deg) scaleY(-1);
	transform-origin: 0px 0px;
	width: 55px;
	height: 100px;
	z-index: 2;
}


*:not(#menu) > .layer.vertical > .wrapper > span {
	transform: scaleX(-1);
}

*:not(#menu) > .layer.vertical > .wrapper > input {
	transform: scaleX(-1);
}

/*
*:not(#menu) > .layer.vertical > .wrapper > button {
	top: -12px;
	transform: rotate(-45deg);
}
*/

*:not(#menu) > .layer.vertical > .wrapper > button > span {
	margin-left: 2px;
}

*:not(#menu) > .layer.vertical .layer-menu {
	top: 65px;
	left: -25px;
	transform: scaleY(-1);
}
